.cart {
    padding-left: 5px    ;
    font-size: 20px;
    font-family: "Calibri Light";
    flex-basis: 250px;
    background-color: #83ff7a;
    color: black;
}

.cart span {
    font-weight: bold;
}

.list span {
    font-weight: bold;
}

.list {
    padding-left: 5px;
    font-size: 20px;
    font-family: "Calibri Light";
    flex-basis: 250px;
    background-color: #ffd201;
    color: black;
}